<div class="container col-lg-8">
    <div class="row justify-content-center">
      <div class="col-10 p-0">
        <%= render 'shared/errors'%>
        <%= form_with(model: @article, class: "shadow p-4 mb-4 rounded", id: "formPartial", local: true) do |f| %>
          <div class="form-group row">
            <%= f.label :title, class: "col-2 col-form-label text-light px-1" %>
            <div class="col-10">
              <%= f.text_field :title, class: "form-control shadow rounded mb-2", placeholder: "Title" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :author, class: "col-2 col-form-label text-light px-1" %>
            <div class="col-10">
              <%= f.text_field :author, class: "form-control shadow rounded mb-2", placeholder: "Author" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :body, class: "col-2 col-form-label text-light px-1" %>
            <div class="col-10"> 
              <%= f.text_area :body, rows: 10, class: "form-control shadow rounded mb-2", placeholder: "Body" %>
            </div>
          </div>

          <div class="form-group row justify-content-center">
            <%= f.submit "Submit", class: "btn btn-light w-auto mt-3" %>
          </div>
          
        <% end %>
      </div>
    <%= link_to '[ Cancel ]', articles_path, class: "text-info text-center text-dark mb-3" %>
    </div>
</div> 