<div class="jumbotron" id="show">
  <h1 class="display-4">Title: <%= @article.title%></h1>
  <p class="lead">Author: <%= @article.author%></p>
  <p class="lead">User ID: <%= @article.user_id%></p>
  <p class="lead">Body:</p>
  <p class="lead"><%= @article.body%></p>
  <p class="mt-3">
    <%= link_to 'Back', articles_path %> |
    <%= link_to 'Edit', edit_article_path %> |
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
</div>

